# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Mac OS
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Rider IDE
.idea/

# Dotnet artifacts
*.dbmdl
*.pdb
*.cache

# Others
*.log
# Ignore build artifacts
bin/
obj/
